
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    
    env_file:
      - .env
    ports:
      - "5000:5000"

    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
    restart: unless-stopped
    